@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
body{
font-family: 'Lato', sans-serif;
color: #505962;
}
.offset:before{
  height: 3.8rem;
  margin-top: 3.8rem;
  content: "";
  display: block;
}
/*---navbar---*/
.navbar{
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1.5px;
  background: rgba(0, 0, 0, 0.5) !important;
  color: #FFF;
}
.navbar-brand img{
  height: 32px;
}
.navbar-nav li{
  padding-right: 12px;
}
.navbar-nav{
  color: white;
}
.nav-link{
  //color: #1ebba3 !important;
  padding-top: 10px;
}
.nav-link:hover{
  color: #FFF !important;
}
/*---slider---*/
.narrow{
  width: 75%;
  margin: 0 auto;
  padding-top: 32px;
}
.btn-md{
  border-width: medium;
  border-radius: 0;
  padding: 10px 18px;
  text-transform: uppercase;
  margin: 16px;
}
.carousel-caption{
  position: absolute;
  top: 38%;
  text-transform: uppercase;
}
.carousel-caption h1{
  font-size: 3.8rem;
  font-weight: bold;
  letter-spacing: .3rem;
  width: 100%;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;
}
.carousel-caption h3{
  font-size: 2rem;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 1.6rem;
}
.btn-lg{
  border-width: medium;
  border-radius: 0;
  font-size: 1.1rem;
}
.jumbotron{
  border-radius: 0;
  padding: 3rem 0 2rem;
  margin-bottom: 0px;
}
.heading{
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 30px;
}
.heading{
  padding-top: 50px;
}
.heading-underline{
  width: 3rem;
  height: 2px;
  color: #1ebba3;
  margin: 0 auto 2rem;
}
.portfolio img{
  max-width: 100%;
  transition: transform .5s ease;
}
.portfolio img:hover{
  transform: scale(1.1);
  cursor: zoom-in;
}
.portfolio{
  overflow: hidden;
}
.card{
  margin: 2rem;
}
footer{
  background-color: #40474e;
  color: white;
  padding: 2rem 0 3rem;
}
footer img{
  height: 3rem;
  margin: 1.5rem 0;
}
footer a{
  color: white;
}
footer svg.svg-inline--fa {
  font-size: 1.6rem;
  margin: 1.2rem .5rem 0 0;
}
footer svg.svg-inline--fa:hover{
  color: 1ebba3;
}

/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {

  .carousel-caption h1{
    font-size: 2.3rem;
    letter-spacing: .15rem;
    width: 100%;
    padding-bottom: .5rem;
  }
  .carousel-caption h3{
    font-size: 1.2rem;
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: 1.2rem;
  }
  .btn-lg{
    font-size: 1rem;
  }
}
@media (max-width: 576px) {
  .carousel-caption h1{
    font-size: 1.7rem;
    letter-spacing: .25rem;
    width: 100%;
    padding-bottom: .3rem;
  }
  .carousel-caption h3{
    font-size: 1rem;
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: 1rem;
  }
  .btn-lg{
    font-size: .6rem;
  }
}

}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
